<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <h1>FPT Store</h1>
  <div>
    <li><a href="/admin"class="nav-link">Dashboard</a></li>
    <li><a href="/admin/product" class="nav-link">Product</a></li>
    <li><a href="/admin/order" class="nav-link">Order</a></li>
    <li><a href="/admin/feedback" class="nav-link">FeedBack</a></li>
  </div>
<div>
  
</div>
  <div>
    <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Time</th>
          </tr>
      </thead>
    </table>
  </div>
</body>
</html>