<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Online Boot Store Website Design Tutorial</title>
</head>

<body>


        <form action="/search?=" class="search-form" method="get">
                    <input type="search" name="searchInput" placeholder="search here..." id="searchInput">
                    <a href="/search"><button class="btn-search"><i class="fas fa-search"></i></button></i></a>
        </form>

    {{!-- <section class="deal">

        <div class="content">
            <h1>{{errorSearch}}</h1>
            {{!-- <h3> Try and experience the book you are looking for here: 3 <i class="far fa-kiss-wink-heart"></i>
            </h3> --}}

        </div>

    </section> --}}

    <div class="container">

        <div class="products-container">
            {{#each searchBook}}
            <div class="product" data-name="p-1">
                <img src="{{pic}}" alt="">
                <h3>{{name}}</h3>
                <div class="price">{{price}}$</div>
            </div>
            {{/each}}
        </div>

    </div>
    </div>
</body>
</html>